header, nav, section, article, aside, footer {
	display: block;
}

html, body, h1, h2, h3, ul, li, a, p,
article, aside, footer, header, nav, section {
	padding: 0;
	margin: 0;
}

html {
	text-align: center;
	font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F0F0F0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;

}

nav {
	padding: 5px;
	margin-top: 10px;
	margin-right: 10px;
	width: 110px;
	height: 245px;
	float: left;
	border-style: solid;
}

ul {
	list-style-type: none;
}

li a {
	color: white;
	text-decoration: none;
}

li {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;

}

section {
	display: inline-block;
	background-color: #BBBBBB;
	margin-top: 10px;
	padding: 5px;
	width: 680px;
  height: 245px;
	float: left;
  border-style: solid;

}


article {
	background-color: #BBB;
	margin-top: 10px;
	padding: 5px;
}

aside {
	background-color: #BBBBBB;
	width: 70px;
	float: right;
	padding: 20px;
	margin-top: 10px;
	height: 215px;
  border-style: solid;

}

footer {
	clear: both;
	background-color: #20416C;
	color: white; 
	padding: 5px 20px;
	margin-top: 10px;
	
}

#secfooter {
  background-color: #610B21;
  color: white;
  
}


.header {
	font-size: 46px;
	background-color: #FF00FF;
	color: white; 
}

.navigation {
	font-size: 12px;
	background-color: #0000FF;
}

.content {
	font-size: 14x;
	background-color: #610B21;
}

.sidebar {
	font-size: 10px;
	background-color: #FF00FF;
}

.footer {
	font-size: 10px;
	background-color: #FF00FF;
  
}


.header, .content, .sidebar, .footer, .navigation {
	font-weight: bold;
}


.header {
	font-weight: none;
}

.navigation {
	font-weight: none;
}

.content {
	font-weight: none;
}

.sidebar {
	font-weight: bold;
}

.footer {
	font-weight: bold;
}
