<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Simpsons!</title>
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <link rel="stylesheet" type="text/css" href="style1.css">
  </head>
  <body>
    <h1 align=center><strong>The Simpsons</strong></h1> 
      <br>

<div class="gallery-grid">
  
   <div class="one-third">
    <a href="http://www.simpsonsworld.com/region-simpsons/" target="_blank" title="web design manchester">
      <span class="screen">
        <p class="title">
          Bart
        </p>
        <p style= "color:white ; font-size:20px"><em>Discover more about Bart...</em></p>
      </span>
      <img src="http://www.lossimpsonsonline.com.ar/images/personajes/bart-simpson/bart-simpson.png">
    </a>
  </div>
       <div class="one-third">
    <a href="http://www.simpsonsworld.com/region-simpsons/" target="_blank" title="web design manchester">
      <span class="screen">
        <p class="title">
          Gorgory
        </p>
        <p style= "color:white ; font-size:20px"><em>Discover more about Gorgory...</em></p>
      </span>
      <img src="http://st-listas.20minutos.es/images/2009-08/136931/1551178_640px.jpg?1250909968">
    </a>
  </div>
  <div class="one-third">
    <a href="http://www.simpsonsworld.com/region-simpsons/" target="_blank" title="web design manchester">
      <span class="screen">
        <p class="title">
          Homer
        </p>
        <p style= "color:white ; font-size:20px"><em>Discover more about Homer...</em></p>
      </span>
      <img src="http://i.cdn.turner.com/dr/hln/www/release/sites/default/files/2014/08/07/homer-simpson.jpg">
    </a>
  </div>
  <div class="one-third">
    <a href="http://www.simpsonsworld.com/region-simpsons/" target="_blank" title="web design manchester">
      <span class="screen">
        <p class="title">
          The family
        </p>
        <p style= "color:white ; font-size:20px"><em>Meet the family...</em></p>
      </span>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbqNZYiuUu5u9dyc2xZtwEvZNWf08WLtaVYLdP0BnMwl8zwQ3R">
    </a>
  </div>
  <div class="one-third">
    <a href="http://www.simpsonsworld.com/region-simpsons/" target="_blank" title="web design manchester">
      <span class="screen">
        <p class="title">
          More
        </p>
        <p style= "color:white ; font-size:20px"><em>CLick here for more ...</em></p>
      </span>
      <img src="http://www.lardlad.com/assets/wallpaper/house1152.jpg">
    </a>
  </div>
</body>
</html>